
# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
.terraform.d/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
